.titulo {
    color: beige;
    font-style: italic;
    font-family: 'Segoe UI';

}
html{
    background-image: url(./fondo1.jpg) ;
    min-height: 100%;
    background-size: cover;
}

.enlace1,.enlace2,.enlace3,.enlace4{
    color: #C5C3C2;
    font-size: large;
}
.linea1,.linea2{
    color: #E5A13A;
}
.enlace1:hover,.enlace2:hover,.enlace3:hover,.enlace4:hover{
    color: #E5A13A ;
}

.tabla1{

}

td{

}

li{

}